# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Hu's Space !
name: HuTianyun
email: tianyunhu@gmail.com
location: Xi'an, China
location_url: http://www.nwpu.edu.cn/
company: Recuse-Robot
company_url: https://github.com/team-explorer-rescue-robot
github_url: https://github.com/Eacaen
description: This is personnel website of HuTianyun
favicon: favicon.png # Image must be in assets/images

# url: http://Eacaen.github.io # the base hostname & protocol for your site

## Gem
gems:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata

# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true

# Disque
# disque: httpdongchuangithubio.disqus.com

# Pagination
paginate: 10
paginate_path: 'page:num'

# Navigation
navs:
  -
    href: /
    label: Home

  -
    href: /open-source
    label: Open-Source

  -
    href: /blog
    label: Blog

  -
    href: /bookmark
    label: Bookmark

  -
    href: /about
    label: About me

# Sidebar to show popular repo
side_bar_repo_limit: 5 # Number of repos to show
side_bar_repo_limit_about: 3 # Number of repos to show
# Google Analytics
analytics :
  provider : google
  google :
      tracking_id : 'UA-108252059-1'


# For about.html. Fell free to create your own!
skill_software_keywords: [C , C++ , Python] 
skill_hardware_chips: [51 , STM32]
skill_structure_keywords: [Solidworks , Catia , Anasys , ABAQUS]
# skill_mobile_app_keywords: [Android, Sketch UI Desgin]
